<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form id="loginForm">
        <input type="email" id="email" name="email" placeholder="Email" required><br />
        <button type="button" onclick="login()">Login</button>
    </form>

    <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
    <script>
        async function login() {
            try {
                const email = document.getElementById('email').value;

                // Request authentication options
                const optionsResponse = await fetch('/auth/login/options', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email })
                });
                const options = await optionsResponse.json();
                console.log("login/script/step1/options:", options);

                // Detailed logging of each field
                console.log("Challenge:", options.challenge);
                console.log("Timeout:", options.timeout);
                console.log("User Verification:", options.userVerification);
                console.log("Allow Credentials:", JSON.stringify(options.allowCredentials, null, 2));


                // Start authentication process
                const authenticationResponse = await window.SimpleWebAuthnBrowser.startAuthentication(options);
                console.log("login/script/step2/authenticationResponse:", authenticationResponse);

                // Send authentication response for verification
                const verificationResponse = await fetch('/auth/login/response', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email, response: authenticationResponse })
                });

                const verificationResult = await verificationResponse.json();
                if (verificationResult.success) {
                    // Redirect to home page on successful login
                    window.location.href = '/';
                } else {
                    alert('Login failed');
                }
            } catch (error) {
                console.error(error);
                alert('Login failed: ' + error.message);
            }
        }
    </script>
</body>
</html>
